.header {
  height: 80px;
  width: 100%;
  background-color: #097962;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  font-size: 19px;
  padding-top: 15px;
  font-family: Arial;
}

.sidebar {
  height: 100%;
  width: 39%;
  background-color: #097962;
  color: white;
  float: left;
  text-align: center;
  font-size: 25px;
  font-family: Arial;
}

.content {
  height: 100%;
  width: 60%;
  background-color: #097962;
  color: white;
  float: right;
  text-align: center;
  font-size: 25px;
  font-family: Arial;
}

.container {
  height: 500px;
  clear: both;
  margin-bottom: 10px;
}

.footer {
  height: 60px;
  background-color: #097962;
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  font-family: Arial;
}

.text {
  display: inline;
  margin: 0px;
  font-size: 18px;
  font-weight: 100;
  font-family: Arial;
}

.margin {
  margin: 0;
}

.text-sidebar-position {
  margin-top: 50%;
  transform: translateY(-50%);
}
.text-content-position {
  margin-top: 50%;
  transform: translateY(-50%);
  margin-top: 280px;
}
